.logo-container {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    height: 205px;
    /* good size for corner */
    width: auto;
    /* keep proportions */
    display: block;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* left & right side */
    align-items: center;
    padding: 40px;
}

.login-card {
    width: 400px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    backdrop-filter: blur(6px);
}

.login-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #222;
}


.login-card .btn-login {
    background:#a01a87  ;
    border-radius: 20px;
    color: white;
    width:30%;
    
    padding: 8px 10px;
    font-size: 20px;  
    display: block;      /* make it a block element */
    margin: 0 auto;  }
  
  .login-card .btn-login:hover {
    background:  #5a164d   ;
  }

  .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    color: #333;    
}

.signup-link a {
    color: #a01a87;    
}