.otp-sent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.otp-sent-card {
    width: 400px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    backdrop-filter: blur(6px);
}

.otp-sent-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #222;
}



.otp-sent-card .otp-submit-button {
    background: #a01a87;
    border-radius: 10px;
    color: white;
    width: 30%;

    padding: 8px 10px;
    /* font-size: 20px;   */
    display: block;
    /* make it a block element */
    margin: 0 auto;
}

.otp-sent-card .otp-submit-button:hover {
    background: #5a164d;
}

.resend-otp-link {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
}

.resend-otp-link a {

    color: #a01a87;
}