.signup-container {
    height: 100vh;
    display: flex;
    justify-content: space-between; /* left & right side */
    align-items: center;
    padding: 40px;
  }
  
  /* Left side text */
  .signup-text {
    flex: 1; /* take available space */
    color: black;
    padding-right: 40px;
  }
  
  .signup-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .signup-text p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  /* Right side form card */
  .signup-card {
    width: 400px;
    min-height: 550px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    backdrop-filter: blur(6px);
  }
  
  .signup-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #222;
  }
  

  .signup-card .btn-signup {
    background:#a01a87  ;
    border-radius: 20px;
    color: white;
    width:50%;
    
    padding: 10px 20px;
    /* font-weight: bold; */
    font-size: 20px;  
    display: block;      /* make it a block element */
    margin: 0 auto;  }
  
  .signup-card .btn-signup:hover {
    background:  #5a164d   ;
  }


    .position-relative {
        position: relative;
    }
    


    .toggle-password {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #555;
    }
    
    .toggle-password:hover {
        color: #000;
    }
    .position-relative input {
        padding-right: 40px; /* leave space for the eye icon */
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .logo {
        height: 205px;   /* good size for corner */
        width: auto;    /* keep proportions */
        display: block;
      }

      .login-link {
        text-align: center;
        margin-top: 20px;
        font-size: 1rem;
        color: #333;
      }

      .login-link a {
        color: #a01a87 ;
      }